@import url("https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Vollkorn", serif;
}

header {
  height: 13vh;
  background: black;
  color: white;
  width: 84.3rem;
  padding-top: 10px;
  /* position: fixed;
  top: 0; */
}

.logo {
  padding: 5px;
  text-align: center;
  /* background: cadetblue; */
  font-weight: bold;
  font-size: 25px;
  width: 17rem;
  margin-left: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white;
}

.menu {
  display: flex;
  justify-content: center;
  list-style: none;
  width: 35rem;
  text-align: center;
  margin-left: 28rem;
  margin-top: -3rem;
  background: #2d4366;
  padding: 1.5rem;
}
.menu li a {
  margin: 0px 20px;
  text-decoration: none;
  color: white;
}
.hire {
  border: none;
  position: relative;
  left: 37px;
  background-color: black;
  top: 172px;
  height: 6.5vh;
  color: white;
  flex-wrap: wrap;
  width: 6vw;
  text-align: center;
  border-radius: 7px;
  letter-spacing: 1px;
}
.hire:hover {
  background-color: #2d4366;
  transition: 0.5s;
  color: whitesmoke;
}

.boxcard {
  width: 100%;
  height: 80vh;
}
.about {
  background-color: #4e6e8d;
  margin-top: 6rem;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.sideimage {
  background: url("../images/main1-removebg-preview.png ");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 40vw;
  height: 40vh;
}

.marginabout {
  margin-left: 10rem;
  color: white;
  letter-spacing: 2px;
}
.heading1 {
  font-size: 2.5em;
}
.proffession {
  font-size: 1.5em;
  margin-top: 1em;
}

.aboutme {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  letter-spacing: 1px;
}

.card1,
.card2 {
  background-color: #2d4366;
  color: white;
  font-weight: 200;
  margin: 20px;
  padding: 25px;
  border-radius: 10px;
}
.discuss {
  position: relative;
  left: 170px;
  padding: 5px;
  padding: 10px;
  text-transform: uppercase;
  border-style: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: yellow;
}
.discuss:hover {
  border: 2px solid white;
  background-color: transparent;
  color: white;
  transition: 0.6s;
}

.services {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #4e6e8d;
  color: white;
  align-items: center;
}
.card1 .h1 {
  text-align: centers;
}

.ourservices {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
}
.box1 {
  text-align: center;
}

.testimonials {
  display: flex;
  justify-content: space-between;
  background-color: #4e6e8d;
  margin-top: 20px;
  color: white;
}
.testihead {
  text-align: center;
}

.testimonialimg1 {
  width: 80px;
  height: 80px;
}

.testi1,
.testi2,
.testi3 {
  letter-spacing: 1px;
  /* row-gap: 2p; */
  width: 55em;
  margin: 20px;
}

.footer-distributed {
  background: #4e6e8d;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: 600 16px sans-serif;
  padding: 55px 50px;
  margin-top: 40px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}
/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Open Sans", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links {
  /* color:  #ffffff; */
  margin: 20px 0 12px;
  padding: 0;
  color: white;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: white;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  text-align: center;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #2d4366;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: lightseagreen;
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  letter-spacing: 1px;
  line-height: 20px;
  color: white;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #2d4366;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.logoorange {
  font-size: 34px;
  color: orangered;
  font-weight: 900;
}

.footer-links a:hover {
  color: #c3c2c2;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
